@model IEnumerable<MyMovieListBeta.Models.Movie>
@using MyMovieListBeta.Models

@{
    ViewBag.Title = "Hello!";
}

<h2>Last activity:</h2>
<div>
    <div style="width:45%; min-width: 550px;">
        <table class="table" style="text-align: center; vertical-align: middle;">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (item.Poster != null)
                        {
                            var base64 = Convert.ToBase64String(item.Poster);
                            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                            <td><img src='@imgsrc' style="max-width:120px; max-height:177px" /></td>
                        }
                        else
                        {
                            <td style="width:100px; height: 100px;"></td>
                        }
                        <td style="text-align: right;"><br />
                            Last Update: <br />
                            Update Type: <br /> <br />
                            Title: <br />
                            Released Date: <br />
                            Your Seance Date: <br />
                            Score: <br /><br />
                        </td>
                        <td style="text-align: left;">
                            <b>
                                @item.LastUpdate <br />
                                @item.UpdateType
                            </b><br /><br />
                            @item.Title <br />
                            @{
                                if (item.ReleaseDate != null)
                                {
                                    var DateTimeString = item.ReleaseDate.ToString();
                                    string OnlyDateRD = DateTimeString.Substring(0, 10);
                                    @OnlyDateRD

                                }
                                else
                                {
                                    <text>-</text>
                                }
                                <br />
                                if (item.YourSeanceDate != null)
                                {
                                    var DateTimeString2 = item.YourSeanceDate.ToString();
                                    string OnlyDateYSD = DateTimeString2.Substring(0, 10);
                                    @OnlyDateYSD
                                }
                                else
                                {
                                    <text>-</text>
                                }
                            }
                            <br />
                            <b>@item.Score </b> <br />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>